# voice_agent/requirements.txt
fastapi
uvicorn
deepgram-sdk==3.11.0
websockets
python-dotenv
requests
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
numpy
scipy
gspread
pymongo
twilio
tzdata
openai
